{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    # "plugin:import/errors",
    # "plugin:import/warnings"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "strict": 0,
    "no-unused-vars": 1
  },
  "plugins": [
    "react",
    "import"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules"]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "io": true
  }
}
