html, body {
  font-family: Helvetica Neue,Hiragino Sans GB,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif;
  color: #333;
  font-size: 100%;
}
body {
  height: 100%;
  background-color: #fafafa !important; // #f5f8fa //#eceff1
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  transition: all 0.3s;
}
* {
  outline: 0;
}
pre, blockquote, dl, figure, table, p, ul, ol, form {
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
  color: #AFAFAF;
  transition: all .3s ease-in-out;
}
a:hover {
  color: #12BD9A;
}
ul {
  margin: 0;
}
li {
  margin-bottom: 0;
}
.innerList {
  list-style: none;
}
button, .button {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 20px;
  color: #444;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-user-select: none;
  transition: all .1s;
  &:hover {
    color: #333;
  }
}
button.radius, .button.radius {
  border-radius: 20px;
} 
.textarea-autoHeight{
  width: 100%; 
  min-height: 20px; 
  margin-left: auto; 
  margin-right: auto; 
  padding: 3px; 
  outline: 0; 
  line-height: 24px;
  padding: 10px;
  font-size: 14px;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
}
textarea, .textarea {
  border: none;
  border-radius: 0;
  resize: none;
  padding: 10px;
  margin-bottom: 0;
  font-family: Menlo,Monaco,Consolas,Courier New,monospace;
}
textarea:focus {
  border: none;
}
textarea.auto-size, .textarea.auto-size {
  overflow-y: hidden;
}
button, input {
  border-radius: 2px;
}
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}
.markdown-body.inner {
  padding: 10px;
}

la-ball-pulse-sync,
.la-ball-pulse-sync > div {
  position: relative;
  box-sizing: border-box;
}
.la-ball-pulse-sync {
  display: inline-block;
  font-size: 0;
  color: #12bd9a;
}
.la-ball-pulse-sync.la-dark {
  color: #333;
}
.la-ball-pulse-sync > div {
  display: inline-block;
  background-color: currentColor;
  border: 0 solid currentColor;
}
.la-ball-pulse-sync {
  width: 54px;
  height: 18px;
}
.la-ball-pulse-sync > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  animation: ball-pulse-sync .6s infinite ease-in-out;
}
.la-ball-pulse-sync > div:nth-child(1) {
  animation-delay: -.14s;
}
.la-ball-pulse-sync > div:nth-child(2) {
  animation-delay: -.07s;
}
.la-ball-pulse-sync > div:nth-child(3) {
  animation-delay: 0s;
}
.la-ball-pulse-sync.la-sm {
  width: 26px;
  height: 8px;
}
.la-ball-pulse-sync.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px;
}
.la-ball-pulse-sync.la-2x {
  width: 108px;
  height: 36px;
}
.la-ball-pulse-sync.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px;
}
.la-ball-pulse-sync.la-3x {
  width: 162px;
  height: 54px;
}
.la-ball-pulse-sync.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-pulse-sync {
  33% {
    transform: translateY(100%);
  }
  66% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes ball-pulse-sync {
  33% {
    transform: translateY(100%);
  }
  66% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes ball-pulse-sync {
  33% {
    transform: translateY(100%);
  }
  66% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes ball-pulse-sync {
  33% {
    transform: translateY(100%);
  }
  66% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}