.writeContainer {
  margin-top: 100px;
  overflow: hidden;
  box-shadow: 0 0 4px #ccc;
  background: #fff;
  margin-bottom: 150px;
}
.wirteButton {
  background: #FFF;
  min-height: 50px;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #ECE8E8;
  transition: all .3s ease-in-out;
  top: 0px;
  position: fixed;
  height: 50px;
  box-sizing: border-box;
}
.ctrl {
  font-size: 14px;
  display: inline-block;
  text-align: center;
  padding: 15px 24px;
}
.ctrlBtn {
  float: right;
  margin: 5px 10px 0 0;
}
.words {
  font-size: 13px;
}
.authorInfo {
  margin-bottom: 15px;
  background-color: #fff;
  overflow: hidden;
  padding: 10px 10px;
}
.authorInfo span {
  position: relative;
  margin-left: 10px;
  font-weight: 500;
  font-size: 12px;
  top: 10px;
}
.authorImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
}
.textareaTitle {
  width: 100%;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  padding-top: 25px;
  word-wrap: break-word;
}
.textareaTitleFull {
  width: 100%;
}
.textareaContent {
  width: 100%;
  min-height: 400px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  color: #546e7a;
}
.titleWrap {
  background: #fff;
  border-bottom: 2px solid #ccc;
}
.a {
  padding: 20px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 15px 0 0 -230px;
  border-radius: 3px;
  overflow: hidden;
}
.publishText {
  color: #444;
  margin-bottom: 0;
  font-size: 18px;
}
.tags {
  padding: 14px 0 0;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0,0,0,.05);
  font-size: 14px;
  color: rgba(0,0,0,.6);
}
.tagInputBox {
  min-height: 80px;
}
.renderTags {
  min-height: 37px;
}