.label {
  color: #444  
}
.errorText {
  font-size: 10px;
  padding-left: 5px;
  color: #E06868;
  font-weight: 600;
}
.goRegister {
  margin-left: 10px;
  float: right;
}
.info {
  font-size: 13px;
  color: #888;
}
.content {
  margin-bottom: 1rem;
}
.title {
  font-size: 24px;
}
.close {
  color: #888;
}